<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaiyu.content.mapper.CategoryMapper">

    <resultMap id="getCategoryMap" type="com.kaiyu.content.domain.Category">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="detail" property="detail"></result>
        <result column="priority" property="priority"></result>
        <result column="index_cate" property="indexCate"></result>
        <result column="save_path" property="savePath"></result>
        <result column="uptime" property="uptime"></result>

    </resultMap>


    <select id="getCategory" resultMap="getCategoryMap">
        select
            *
        from category c
        where c.index_cate = 1
        GROUP BY c.id
    </select>

</mapper>