<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserMapper">


    <resultMap id="getUserInfoMap" type="com.ruoyi.system.api.domain.User">
        <id column="id" property="id"></id>
        <result column="register_phone" property="register_phone"></result>
        <result column="password" property="password"></result>
        <result column="true_name" property="true_name"></result>
        <result column="nickname" property="nickname"></result>
        <result column="sex" property="sex"></result>
        <result column="address" property="address"></result>
        <result column="phone" property="phone"></result>
        <result column="avatar" property="avatar"></result>
        <result column="openid" property="openid"></result>
        <result column="ip" property="ip"></result>
        <result column="uptime" property="uptime"></result>
        <result column="login_count" property="login_count"></result>

    </resultMap>


    <select id="getUserInfo" resultMap="getUserInfoMap">
        select * from user where register_phone = #{register_phone}
    </select>

    <select id="getUserInfoByOpenId" resultMap="getUserInfoMap">
        select * from user where openid = #{openId}
    </select>
</mapper>